In [1]:
import os, sys

src = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
src = os.path.abspath(os.path.join(src, os.pardir))

sys.path.append(src)

# BUILD_Airport

In [2]:
import pandas as pd

asset = pd.read_parquet(f"~/prc-challenge-2025/data/apt.parquet")

asset

      icao   longitude   latitude  elevation
0     HCAD   46.637500   6.095802     1001.0
1     OAAK   65.206746  36.942659      900.0
2     OALG   69.023102  33.986500     6333.0
3     OAMK   67.848602  32.879601     6600.0
4     OAPJ   67.020445  34.391726     8800.0
...    ...         ...        ...        ...
8782  ZYTN  125.733963  42.048435     1347.0
8783  ZYTX  123.483002  41.639801      198.0
8784  ZYXC  120.700374  40.580328       30.0
8785  ZYYJ  129.451004  42.882801      624.0
8786  ZYYK  122.358600  40.542524        NaN

[8787 rows x 4 columns]

In [3]:
from prc_challenge.utils.eda import print_dataframe_memory_footprint

print_dataframe_memory_footprint(asset)

660.9 KB

# Equality with API

In [4]:
from prc_challenge.data.assets import get_Airport
from pandas.testing import assert_frame_equal

api_asset = get_Airport()

assert_frame_equal(asset, api_asset)