In [4]:
import pandas as pd

In [7]:
train = pd.read_parquet("./data/fuel_train.parquet")

In [8]:
flight_list_train = pd.read_parquet("./data/flightlist_train.parquet")

In [12]:
res = pd.merge(train, flight_list_train,on="flight_id")

In [13]:
train

,idx,flight_id,start,end,fuel_kg
0,0,prc770822360,2025-04-13 02:31:04.447,2025-04-13 03:01:04.487,2500.0000
1,1,prc770822360,2025-04-13 03:01:04.487,2025-04-13 03:16:04.226,1200.0000
2,2,prc770822360,2025-04-13 03:16:04.458,2025-04-13 03:46:04.417,2500.0000
3,3,prc770822360,2025-04-13 03:46:04.417,2025-04-13 04:01:04.540,1300.0000
4,4,prc770822360,2025-04-13 04:01:04.540,2025-04-13 04:16:04.263,600.0000
...,...,...,...,...,...
131525,131525,prc806606087,2025-09-01 01:25:56.491,2025-09-01 01:30:56.126,45.3592
131526,131526,prc806606087,2025-09-01 01:30:56.126,2025-09-01 01:36:10.788,90.7184
131527,131527,prc806606087,2025-09-01 01:36:10.788,2025-09-01 01:41:00.049,45.3592
131528,131528,prc806606087,2025-09-01 01:41:00.049,2025-09-01 01:45:55.863,90.7184
131529,131529,prc806606087,2025-09-01 01:45:55.863,2025-09-01 02:00:56.463,90.7184

In [17]:
res.groupby("aircraft_type")["fuel_kg"].agg(["min","max"]).reset_index().to_csv("fuel_table.csv")